body {
    /*    background-image: url("https://media.giphy.com/media/Typ62O3c3mrjW/giphy.gif");
*/
/*    background-image: url("../imgs/salon-01.png");*/
    font-family: 'Contrail One', cursive;
    height: 900px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0px 0px !important;
}

.navbar {
    min-height: 3.25rem;
    position: absolute;
    background: transparent;
}

#main {
    background: white;
    position: sticky;
    padding: 15px;
}

.button {
    background-color: #7DC6E3;
    border-color: transparent;
    color: #fff;
    border-radius: 0px;
}

.button.is-link {
    background-color: transparent;
    border-color: transparent;
    color: #4a4a4a;
    text-decoration: none;
}

#logo {
    font-size: 35px;
    color: blue;
}

.columns {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

.button {
    box-shadow: 3px 3px 3px #000;
}

.image {
    background: transparent;
}

button {
    box-shadow: 3px 3px 3px #000;
}

.foot {
    font-family: 'Contrail One', cursive;
    margin-top: 20px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 20px;
}

input {
    border-radius: 0px;
    box-shadow: 3px 3px 3px #000;
}

.modal-background {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
}

.modal-card-body {
    -webkit-overflow-scrolling: touch;
    background-color: white;
}

.modal-card-head {
    border-bottom: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-top: 75px;
}

.modal-card-foot {
    padding: 0px;
}


.modal-card-foot {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 0px solid transparent;
}

.field.is-grouped {
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;
    height: 291px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

#service {
    margin-top: 15px;
    margin-left: 30%;
}

#distance-search {
    margin-top: 15px;
    margin-left: 0%;
    color: #fff;
}

a.button {
    margin-top: 15px;
    margin-left: 0%;
    color: #fff;
    border-radius: 0px;
}

#stylist-sign-up-btn {
    background-color: #00d1b2;
    border-color: transparent;
    color: #fff;
    width: 400px;
    height: 76px;
    margin-bottom: 39px;
    margin-left: 100px;
}

#client-sign-up-btn {
    background-color: #0000FF;
    border-color: transparent;
    color: #fff;
    width: 400px;
    height: 76px;
    margin-bottom: 39px;
    margin-top: 40px;
    margin-left: 100px;
}

.search {
    position: fixed;
}

.select select {
    font-family: 'Contrail One', cursive;
    border-radius: 0px;
    background: #fff;
    border-color: #000;
    color: #000;
    opacity: 0.4;
}

.option {
    background-color: transparent;
}

#header {
    height: 300px;
}

#polaroid {
    margin-top: 50px;
    background-image: url(../imgs/white_wall_hash_@2X.png);
    background-repeat: repeat;
    height: 417px;
    width: 365px;
    box-shadow: 3px 3px 3px grey;
    margin-left: 37.3333%;
}

.hair {
    width: 300px;
}

p.about {
    opacity: 1;
}

p.devs {
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 20px;
}

#addyinput {
    background: transparent;
    font-family: 'Contrail One', cursive;
    border: 1px solid darkgray;
    color: black;
    border-radius: 0px;
}

.search-bar {
    margin-left: 60%;
    float: right;
    display: -webkit-box;
}