body {
    font-family: 'Contrail One', cursive;
}

.navbar {
    min-height: 3.25rem;
    position: fixed;
    background: transparent;
}

#logo {
    font-size: 35px;
    color: black;
}

#main {
    background: transparent;
    background-image: url("../imgs/long-hair.png");
    background-size: 100%;
    height: 500px;
}

.button {
    box-shadow: 3px 3px 3px #000;
}

.image {
    background: transparent;
}

button {
    box-shadow: 3px 3px 3px #000;
}

#about {
    margin-top: 20px;
    background: gray;
}

input {
    border-radius: 0px;
    box-shadow: 3px 3px 3px #000;
}

.modal-background {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
}

.modal-card-body {
    -webkit-overflow-scrolling: touch;
    background-color: white;
}

.modal-card-head {
    border-bottom: 1px solid #dbdbdb;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    opacity: 0.5;
}

.modal-card-foot {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top: 1px solid #dbdbdb;
    opacity: 0.5;
}