#header {
    background: white;
}

#list {
    background: lightgray;
}

#map-listpage {
    background: gray;
}

#map {
    width: 100%;
    height: auto;
}

#service {
    float: left;
}

#distance-search {
    float: left;
}

body {
    font-family: 'Contrail One', cursive;
    color: black;
}

.navbar {
    min-height: 3.25rem;
    position: relative;
    background: transparent;
}

#main {
    background: transparent;
}

#logo {
    font-size: 35px;
    color: blue;
}

.columns {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

.button {
    box-shadow: 3px 3px 3px #000;
}

.image {
    background: transparent;
}

button {
    box-shadow: 3px 3px 3px #000;
}

.button {
    background-color: #00d1b2;
    border-color: transparent;
    color: #fff;
    border-radius: 0px;
}

.button.is-link {
    background-color: transparent;
    border-color: transparent;
    color: #4a4a4a;
    text-decoration: none;
}

input {
    border-radius: 0px;
    box-shadow: 3px 3px 3px #000;
}

.modal-background {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
}

.modal-card-body {
    -webkit-overflow-scrolling: touch;
    background-color: #eee;
    box-shadow: 3px 3px 3px grey;
    height: 310px;
}

.modal-card-head {
    background: #FEC3A6;
    border-bottom: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-top: 15%;
}

.modal-card-foot {
    padding: 0px;
}

input {
    font-family: 'Contrail One', cursive;
}

.modal-card {
    width: 400px;
}

.modal-card-foot {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 0px solid transparent;
}

#sign-in-card {
    width: 335px;
}

.field.is-grouped {
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;
    padding-top: 20px;
    height: 291px;
    padding-left: 8%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

#service {
    margin-top: 15px;
    margin-left: 30%;
}

#submit-login {
    background-color: #FFAC81;
    border-color: transparent;
    color: #fff;
    width: 250px;
}

#cancel-btn-two {
    background-color: #FF928B;
    border-color: transparent;
    color: #4a4a4a;
    text-decoration: none;
    width: 250px;
    margin-top: 15px;
}

#distance-search {
    margin-top: 15px;
    margin-left: 0%;
    color: #fff;
}

a.button {
    margin-top: 15px;
    margin-left: 0%;
    color: #fff;
    border-radius: 0px;
}

#stylist-sign-up-btn {
    background-color: #FF928B;
    border-color: transparent;
    color: #fff;
    width: 300px;
    font-size: 25px;
    font-family: 'Contrail One', cursive;
    height: 76px;
    margin-bottom: 39px;
}

#client-sign-up-btn {
    background-color: #FFAC81;
    border-color: transparent;
    color: #fff;
    width: 300px;
    font-size: 25px;
    font-family: 'Contrail One', cursive;
    height: 76px;
    margin-bottom: 25px;
}

#cancel-btn-two {
    background-color: #FF928B;
    border-color: transparent;
    color: #4a4a4a;
    text-decoration: none;
    font-family: 'Contrail One', cursive;
    width: 250px;
    margin-left: 20px;
    margin-top: 15px;
}

#submit-login {
    background-color: #FFAC81;
    border-color: transparent;
    font-family: 'Contrail One', cursive;
    color: #fff;
    margin-left: 20px;
    width: 250px;
}

.search-bar {
    margin-left: 35%;
    float: right;
    display: -webkit-box;
}

#stylistCard {
    height: 100%;
}

.field.is-grouped {
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;
    height: 291px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}


#service {
    margin-top: 15px;
    margin-left: 30%;
}

#distance-search {
    margin-top: 15px;
    margin-left: 0%;
    color: #fff;
}

#list {
    height: 800px;
}


a.button {
    margin-top: 15px;
    margin-left: 0%;
    color: #fff;
    border-radius: 0px;
}

.search {
    position: fixed;
}

.select select {
    font-family: 'Contrail One', cursive;
    border-radius: 0px;
    background: #fff;
    border-color: #000;
    color: #000;
    opacity: 0.4;
}

.option {
    background-color: transparent;
}

.box {
    border-radius: 0px;
}

#addyinput {
    background: transparent;
    font-family: 'Contrail One', cursive;
    border: 1px solid darkgray;
    color: black;
    border-radius: 0px;
}