body {
    font-family: 'Contrail One', cursive;
}

.navbar {
    min-height: 3.25rem;
    position: absolute;
    background: transparent;
}

#main {
    background: transparent;
    position: sticky;
}

#logo {
    font-size: 35px;
    color: blue;
}

.button {
    background-color: #00d1b2;
    border-color: transparent;
    color: #fff;
    border-radius: 0px;
}

.button.is-link {
    background-color: transparent;
    border-color: transparent;
    color: #4a4a4a;
    text-decoration: none;
}

.button {
    box-shadow: 3px 3px 3px #000;
}

.image {
    background: transparent;
}

button {
    box-shadow: 3px 3px 3px #000;
}

#about {
    margin-top: 20px;
    background: gray;
}

input {
    border-radius: 0px;
    box-shadow: 3px 3px 3px #000;
}

.modal-background {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
}

.modal-card-body {
    -webkit-overflow-scrolling: touch;
    background-color: white;
}

#stylist-sign-up-btn {
    background-color: #00d1b2;
    border-color: transparent;
    color: #fff;
    width: 400px;
    height: 76px;
    margin-bottom: 39px;
    margin-left: 100px;
}

#client-sign-up-btn {
    background-color: #0000FF;
    border-color: transparent;
    color: #fff;
    width: 400px;
    height: 76px;
    margin-bottom: 39px;
    margin-top: 50px;
    margin-left: 100px;
    margin-top: 40px;
}

.modal-card-head {
    border-bottom: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-top: 75px;
}

.modal-card-foot {
    padding: 0px;
}


.modal-card-foot {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 0px solid transparent;
}

.field.is-grouped {
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;
    height: 291px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

#service-search {
    margin-top: 200px;
    margin-left: 30%;
}

#distance-search {
    margin-top: 200px;
    margin-left: 0%;
    color: #fff;
}

a.button {
    margin-top: 200px;
    margin-left: 0%;
    color: #fff;
    border-radius: 0px;
}

.select select {
    font-family: 'Contrail One', cursive;
    border-radius: 0px;
    background: #fff;
    border-color: #000;
    color: #000;
    opacity: 0.4;
}

.option {
    background-color: transparent;
}

#addyinput {
    background: transparent;
    font-family: 'Contrail One', cursive;
    border: 1px solid darkgray;
    color: black;
    border-radius: 0px;
}