body {
	font-family: 'Contrail One', cursive;
}

.navbar {
    min-height: 3.25rem;
    position: fixed;
    background: transparent;
}

#logo {
	font-size: 35px;
	color: black;
	text-shadow: 2px 2px #999999;
}

#main {
    background: transparent;
    background-image: url("../imgs/long-hair.png");
    background-size: 100%;
    height:500px;
}

.image {
    background: transparent;
}

#about {
	margin-top: 20px;
	background: gray;
}

.modal{
	
}