body {
    font-family: 'Contrail One', cursive;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.navbar {
    min-height: 3.25rem;
    position: fixed;
    background: transparent;
    color: black;
}

#modal-btn-one,
#modal-btn-two {
    color: black;
}

#logo {
    font-size: 35px;
    color: blue;
}

.input, .textarea {
    border-radius: 0px;
}

.label:not(:last-child) {
    margin-bottom: .5em;
    margin-top: .5em;
}

.column {
    padding-top: 100px;
}

.sign-up-title {
    text-align: center;
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 50px;
}

#stylist-form {
    margin-bottom: 50px;
}

#specs {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

body {
    font-family: 'Contrail One', cursive;

    background-size: cover;
    height: 700px;
}

.navbar {
    min-height: 3.25rem;
    position: absolute;
}

#logo {
    font-size: 35px;
    color: black;
}

.columns {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

#main {
    background: transparent;
    position: sticky;
}

.button {
    box-shadow: 3px 3px 3px #000;
}

.image {
    background: transparent;
}

button {
    box-shadow: 3px 3px 3px #000;
}

.button {
    background-color: #00d1b2;
    border-color: transparent;
    color: #fff;
    border-radius: 0px;
}

.button.is-link {
    background-color: transparent;
    border-color: transparent;
    color: #4a4a4a;
    text-decoration: none;
}

#about {
    margin-top: 20px;
    background: gray;
}

input {
    border-radius: 0px;
}

.modal-background {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
}

.modal-card-body {
    -webkit-overflow-scrolling: touch;
    background-color: white;
}

.modal-card-head {
    border-bottom: 1px solid #dbdbdb;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    opacity: 0;
}

.modal-card-foot {
    padding: 0px;
}

#service {
    margin-top: 15px;
    margin-left: 30%;
}

#distance-search {
    margin-top: 15px;
    margin-left: 0%;
    color: #fff;
}

a.button {
    margin-top: 15px;
    margin-left: 0%;
    border-radius: 0px;
}

.search {
    position: fixed;
}

.select select {
    font-family: 'Contrail One', cursive;
    border-radius: 0px;
    background: #fff;
    border-color: #000;
    color: #000;
    opacity: 0.4;
}

.option {
    background-color: transparent;
}

#header {
    height: 300px;
}

#book {
    margin-top: 100px;
    margin-left: 40%;
}

#addyinput {
    background: transparent;
    font-family: 'Contrail One', cursive;
    border: 1px solid darkgray;
    color: black;
    border-radius: 0px;
}