body {
    font-family: 'Contrail One', cursive;
}

.navbar {
    min-height: 3.25rem;
    position: relative;
    /*background: transparent;*/
}

#logo {
    font-size: 35px;
    color: black;
}

#main {
    background: transparent;
    margin-top: 50px;
}

.button {
    box-shadow: 3px 3px 3px #000;
}

.image {
    background: transparent;
}

button {
    box-shadow: 3px 3px 3px #000;
}

#about {
    margin-top: 20px;
    background: gray;
}

input {
    border-radius: 0px;
    box-shadow: 3px 3px 3px #000;
}

.modal-background {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
}

.modal-card-body {
    -webkit-overflow-scrolling: touch;
    background-color: white;
}

.modal-card-head {
    border-bottom: 1px solid #dbdbdb;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    opacity: 0.5;
}

.modal-card-foot {
    padding: 0px;
}

#service-search {
    margin-top: 200px;
    margin-left: 30%;
}

#distance-search {
    margin-top: 200px;
    margin-left: 0%;
    color: #fff;
}

a.button {
    margin-top: 200px;
    margin-left: 0%;
    color: #fff;
    border-radius: 0px;
}

.select select {
    font-family: 'Contrail One', cursive;
    border-radius: 0px;
    background: #fff;
    border-color: #000;
    color: #000;
    opacity: 0.4;
}

.option {
    background-color: transparent;
}